*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0px;
    padding: 0px;
}

nav{
    background-color: rgb(123, 123, 123);
    padding: 3px 12px;
}

ul {
    display: flex;
    flex-direction: row;
}
li {
    list-style: none;
    padding: 3px 15px;
}
a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}
h1{
    text-align: center;
}

.container{
    background-color: yellow;
    width: 70%;
    margin: 0.5% auto;
}
input{
    display: block;
    margin: 0.5% auto;
    width: 60%;
}